@import "../colors";
@import "../utils";
header {
  // background-image: linear-gradient(
  //   180deg,
  //   #ff7f49 0,
  //   #ff6f46 16.67%,
  //   #fe5942 33.33%,
  //   #f23c3c 50%,
  //   #e50b37 66.67%,
  //   #db0036 83.33%,
  //   #d20038 100%
  // );
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  // background-color: orangered;
  color: $white;
  @include flex(center);
  @include HW(8rem, 100%);
  nav {
    width: 80%;
    margin: auto;
    h2 {
      font-size: 4rem;
    }
    @include flex(space-between);
    ul {
      @include flex(center);
      li {
        position: relative;
        margin: 0rem 2rem;
        a {
          font-size: 1.8rem;
          cursor: pointer;
        }
        &::after {
          position: absoute;
          content: "";
          width: 0%;
          height: 0.3rem;
          background-color: $sec;
          display: block;
          bottom: -1.5rem;
          left: 0;
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .tPart {
      @include flex(center);
      #search {
        border-radius: 0.5rem;
        padding: 0.5rem;
      }
      #getS {
        margin-left: 1.5rem;
        background-color: $sec;
        color: $white;
        padding: 0.6rem 1rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        background: #d878dd;
        // background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
        // background: -webkit-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
        margin: 10px;
        // padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        &:hover {
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
