@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800;900&family=Proza+Libre:wght@500;600;700&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fe9025; */
  /* background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%); */
  /* background-color: #f84a23; */
  /* background-image: linear-gradient(
    180deg,
    #ff7f49 0,
    #ff6f46 16.67%,
    #fe5942 33.33%,
    #f23c3c 50%,
    #e50b37 66.67%,
    #db0036 83.33%,
    #d20038 100%
  ); */
  /* background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%); */
  height: 100vh;
  background-color: #f7f8fc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  font-size: 62.5% !important;
}

::selection {
  color: crimson;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
